<div class='pb-2 mt-4 mb-2 border-bottom'>
  <p class='font-weight-bold mb-0'>Submit Detailed Report</p>
</div>

<%= nested_form_for(@incident, url: detailed_report_incidents_path) do |form| %>
  <%= render 'shared/form_errors', object: form.object %>

  <div class='form-group'>
    <%= form.label :incident_type %>
    <%= form.select :incident_type, options_for_select(get_collection(Incident.incident_types)), {}, {class: 'form-control'} %>
  </div>

  <div class='form-group'>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :role %>
    <%= form.select :role, options_for_select(get_collection(Incident.roles)), {}, {class: 'form-control'} %>
  </div>

  <div class='form-group'>
    <%= form.label :people_involved %>
    <%= form.text_area :people_involved, class: 'form-control', placeholder: 'Name and other details of people involved (student, teacher, staff, parent, grade level)' %>
  </div>

  <div class='form-group'>
    <%= form.label :other_observers %>
    <%= form.text_area :other_observers, class: 'form-control', placeholder: 'Name and details' %>
  </div>

  <div class='form-group'>
    <%= form.label :incident_datetime %>
    <%= form.datetime_select :incident_datetime, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :location %>
    <%= form.select :location, options_for_select(predefined_locations), {}, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label 'Describe issue/incident' %>*
    <%= form.text_area :description, class: 'form-control', required: true %>
  </div>

  <%= form.fields_for :incident_files do |inc_file_form| %>
    <div class='form-group'>
      <%= link_to 'Add Attachment', 'javascript:void(0)', class: 'btn btn-secondary add-incident-photo' %>
      <%= inc_file_form.file_field :attachment, class: 'd-none' %>
      <%= inc_file_form.link_to_remove 'Remove' %>
    </div>
  <% end %>
  <p><%= form.link_to_add 'Add', :incident_files %></p>

  <div class='form-group'>
    <%= form.submit :Submit, class: 'btn btn-success' %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    initIncidents();
  })
</script>
