<div class='pb-2 mt-4 mb-2 border-bottom'>
  <p class='font-weight-bold mb-0'>Lincoln High School</p>
  <p class='font-weight-light mb-0'>Incident Reporting Page</p>
</div>

<%= nested_form_for(@incident, url: root_path) do |form| %>
  <%= render 'shared/form_errors', object: form.object %>

  <%= form.hidden_field :school, value: 'Lincoln High School', class: 'form-control' %>

  <div class='form-group'>
    <%= form.label 'Describe issue/incident' %>*
    <%= form.text_area :description, class: 'form-control', required: true %>
  </div>

  <%= form.fields_for :incident_files do |inc_file_form| %>
    <div class='form-group'>
      <%= link_to 'Add Photos', 'javascript:void(0)', class: 'btn btn-secondary add-incident-photo' %>
      <%= inc_file_form.file_field :attachment, class: 'd-none' %>
      <%= inc_file_form.link_to_remove 'Remove' %>
    </div>
  <% end %>
  <p><%= form.link_to_add 'Add', :incident_files %></p>

  <div class='form-group'>
    <%= form.submit :Submit, class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to 'Or Submit Detailed Report', detailed_report_incidents_path %>

<script>
  $(document).ready(function() {
    initIncidents();
  })
</script>