<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">Error</h4>
    <p><%= pluralize(object.errors.count, "error") %> prohibited this form being saved:</p>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>